<head>
  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->
  
  <meta http-equiv="X-UA-Compatible" content="IE=9; FF=3">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <meta name="author" content="{{ site.user }}" />
  
  <meta name="robots" content="INDEX,FOLLOW"/>
  
  {% if page.description %}
<meta name="description" content="{{page.description}}" />
{% else %}
<meta name="description" content="{{site.description}}" />
{% endif %}

{% if page.categories %}
<meta name="keywords" content="{{page.categories | join: ','}}" />
{% else %}
<meta name="keywords" content="{{site.keywords | join: ','}}" />
{% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  
  <link rel="stylesheet" href="/public/css/poole.css" media="screen">
  <link rel="stylesheet" href="/public/css/syntax.css" media="screen">
  <link rel="stylesheet" href="/public/css/hyde.css" media="screen">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface" media="screen"> 
  <link rel="stylesheet" href="/public/css/poole.css" media="print">
  <link rel="stylesheet" href="/public/css/syntax.css" media="print">
  <link rel="stylesheet" href="/public/css/hyde.css" media="print">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface" media="print"> 

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
